version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile-app
    container_name: api-app-1  # Forces the name so GitHub Actions always find it
    volumes:
      - .:/var/www/html
      - ./php-memory.ini:/usr/local/etc/php/conf.d/memory-limit.ini # MOVED HERE
    networks:
      - app-network
    env_file:
      - .env

  nginx:
    image: nginx:alpine # You don't need a custom Dockerfile if you just use templates
    environment:
      - SERVER_NAME=${SERVER_NAME}
    volumes:
      - .:/var/www/html:ro # Mount as Read-Only for security
      - ./default.conf.template:/etc/nginx/templates/default.conf.template:ro
    ports:
      - "80:80"
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge