version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile-app
    volumes:
      - .:/var/www/html  # This shares your code with the PHP container
    networks:
      - app-network
    env_file:
      - .env

  nginx:
    build:
      context: .
      dockerfile: Dockerfile-serve
    volumes:
      - .:/var/www/html  # This shares the SAME code with the Nginx container
    ports:
      - "80:80"
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge