version: '3'
services:

  app:
    build:
      context: .
      dockerfile: Dockerfile-app
    networks:
      - app-network
    # TIP: Instead of listing all 50 variables, just use this:
    env_file:
      - .env

  nginx:
    build:
      context: .
      dockerfile: Dockerfile-serve # This uses your Nginx + start.sh logic
    environment:
      - PORT=80
    ports:
      - "80:80"
    depends_on:
      - app
    networks: # <--- CRITICAL: Nginx needs to be on the same network to find 'app'
      - app-network

networks:
  app-network:
    driver: bridge