version: '3'
services:

  app:
    build:
      context: .
      dockerfile: Dockerfile-app
    networks:
      - app-network
    environment:
      - APP_NAME=${APP_NAME}
      - APP_ENV=${APP_ENV}
      - APP_KEY=${APP_KEY}
      - APP_DEBUG=${APP_DEBUG}
      - APP_URL=${APP_URL}
      - APP_URL_FRONT=${APP_URL_FRONT}
      - STRIPE_SECRET=${STRIPE_SECRET}
      - STRIPE_WEBHOOK_SECRET=${STRIPE_WEBHOOK_SECRET}
      - LOG_CHANNEL=${LOG_CHANNEL}
      - LOG_DEPRECATIONS_CHANNEL=${LOG_DEPRECATIONS_CHANNEL}
      - LOG_LEVEL=${LOG_LEVEL}
      - DB_CONNECTION=${DB_CONNECTION}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - BROADCAST_DRIVER=${BROADCAST_DRIVER}
      - CACHE_DRIVER=${CACHE_DRIVER}
      - FILESYSTEM_DRIVER=${FILESYSTEM_DRIVER}
      - QUEUE_CONNECTION=${QUEUE_CONNECTION}
      - SESSION_DRIVER=${SESSION_DRIVER}
      - SESSION_LIFETIME=${SESSION_LIFETIME}
      - MEMCACHED_HOST=${MEMCACHED_HOST}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_PORT=${REDIS_PORT}
      - MAIL_MAILER=${MAIL_MAILER}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_ENCRYPTION=${MAIL_ENCRYPTION}
      - MAIL_FROM_ADDRESS=${MAIL_FROM_ADDRESS}
      - MAIL_FROM_NAME=${MAIL_FROM_NAME}
      - PUSHER_APP_ID=${PUSHER_APP_ID}
      - PUSHER_APP_KEY=${PUSHER_APP_KEY}
      - PUSHER_APP_SECRET=${PUSHER_APP_SECRET}
      - PUSHER_APP_CLUSTER=${PUSHER_APP_CLUSTER}
      - MIX_PUSHER_APP_KEY=${MIX_PUSHER_APP_KEY}
      - MIX_PUSHER_APP_CLUSTER=${MIX_PUSHER_APP_CLUSTER}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
      - AWS_BUCKET=${AWS_BUCKET}
      - AWS_URL=${AWS_URL}
      - AWS_USE_PATH_STYLE_ENDPOINT=${AWS_USE_PATH_STYLE_ENDPOINT}
      - AWS_SUPPRESS_PHP_DEPRECATION_WARNING=${AWS_SUPPRESS_PHP_DEPRECATION_WARNING}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - REOON_API_KEY=${REOON_API_KEY}
      - GCLOUD_RECAPTCHA_KEY=${GCLOUD_RECAPTCHA_KEY}
      - GCLOUD_PROJECT_ID=${GCLOUD_PROJECT_ID}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
  nginx:
    image: nginx:latest
    build:
      context: .
      dockerfile: Dockerfile-serve
    ports:
      - "80:80"
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

#La version indica la version por default de docker
#El buil indica el docker file que se usara para construir este contenedor (Dockerfile-app)
#La seccion networks conecta el contenedor con una red llamada app-network apra que se pueda comunicar con otros servicios como ngnix
#las variables enviroment se declaran para que en el jost se carguen desde un archivo .env para mantener la configuracion separada del codigo. El formato ${} indica que seran asignadas en otro sitio (en este caso desde servidor gitlab)

#Dentro de nginx:
#image determina que busca la version mas reciente de nginx
# build indica que quiere usar el archivo Dockerfile-serve personalizado para configurar NGINX
#Los ports 80:80 para la que se pueda acceder a la aplicacion por localhost
# La seccion depends_on indica que , hasta que no este construida la seccion app (en la parte superior) no proceda a construir el nginx
# Usa una red bridge para que los servicios app y nginx puedan comunicarse

#docker-compose define los servicios de proyecto php (Dockerfile-app)y servidor ngnix (Dockerfile-serve)
#
